.header__container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1220px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.header__list-item {
    list-style: none;
}

.header__link {
    font-family: "ProximaNova-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: var(--white);
    text-decoration: none;
    padding: 8px;
}

.header__list-item:not(:last-child) {
    margin-right: 20px;
}

.header__pic {
    padding: 15px;
}

.header__nav-btn {
    cursor: pointer;
    display: none;
    background: inherit;
    border: none;
}

.header__nav-mobile {
    display: none;
    position: absolute;
    top: 1%;
    right: 1%;
    background-color: var(--black-bg);
}

.header__list-mobile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.header__list-item-mobile {
    padding: 10px;
    margin: 20px 0;
}

.burger-cloz {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 35px;
    font-weight: 700;
    color: var(--light-gray);
}

@media (max-width: 800px) {
    .header__nav-btn {
        display: block;
    }

    .header__nav {
        display: none;
    }
}