.statistics__container {
    margin-top: 120px;
}

.statistics__list {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.statistics__list-item {
    max-width: calc(33.3333333333% - 95px);
    padding: 10px;
}

.statistics__subtitle {
    font-family: "ProximaNova-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 68px;
    color: var(--purple);
    text-align: center;
}

.statistics__deskr {
    font-family: "ProximaNova-Bold";
    margin-top: 15px;
    margin-bottom: 130px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--purple);
    text-transform: uppercase;
}

.info {
    background-color: var(--gray);
}

.info__title {
    font-family: "ProximaNova-Bold";
    text-align: end;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    color: var(--purple);
    margin-right: 55px;
    padding-top: 40px;
}

.info__titlebox {
    margin-top: 100px;
    background-image: url(../images/Union.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.info__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 0 120px 0;
}

.info__list-item {
    margin-right: 90px;
    margin-top: 65px;
    max-width: calc((100% - 180px) / 3);
    -ms-flex-direction: column;
    flex-direction: column;
}

.info__list-item:nth-child(3n) {
    margin-right: 0;
}

.info__list-picture {
    -ms-flex-item-align: center;
    align-self: center;
}

.info__list-item-subtitle {
    font-family: "ProximaNova-Bold";
    margin-top: 28px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--purple);
}

.info__list-deskr {
    font-family: "ProximaNova-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.008em;
    color: var(--light-gray);
}

.review__container {
    margin: 0 auto;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1300px;
}

.review__textblock {
    width: 45%;
}

.review__textblock-title {
    font-family: "ProximaNova-Bold";
    margin-top: 45px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: var(--purple);
}

.review__textblock-text {
    font-family: "ProximaNova-Regular";
    max-width: 80%;
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: var(--light-gray);
}

.review__textblock-btn {
    font-family: "ProximaNova-Bold";
    margin-top: 38px;
    padding: 13px 47px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    background-color: var(--orange);
}

.review__vidcont {
    height: 444px;
    width: 724px;
    margin: 115px 0 95px 0;
}

.video {
    padding: 0 10px;
    height: 444px;
    width: 724px;
    max-width: 100%;
}

.pop-up {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
}

.pop-up .video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 750px;
    -o-object-fit: cover;
    object-fit: cover;
}

.pop-up span {
    font-family: "ProximaNova-Bold";
    position: absolute;
    top: 5px;
    right: 50px;
    font-size: 30px;
    color: brown;
    font-weight: bolder;
    z-index: 100;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .pop-up .video {
        width: 90%;
    }

    .info__list {
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .info__list-item:nth-child(3n) {
        margin-right: 90px;
        margin-top: 65px;
    }

    .info__list-item:nth-child(2n) {
        margin-right: 0;
    }

    .info__list-item {
        max-width: 35%;
    }

    .review__container {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.contact_us {
    background: url(../images/bg/Rectangle\ 1595.png) left top no-repeat, url(../images/bg/Rectangle\ 1650.png) right bottom no-repeat, #232323;
}

.contact_us-container {
    margin: 0 auto;
    max-width: 1320px;
    padding: 0 10px;
    width: 100%;
}

.contact_us-leftbox {
    margin-top: 130px;
    width: 50%;
}

.contact_us-title {
    font-family: "ProximaNova-Bold";
    margin-left: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 55px;
    color: var(--white);
}

.contact_us-rightbox {
    width: 50%;
    margin-top: 135px;
    margin-bottom: 120px;
}

.form-inline {
    margin-top: 28px;
}

.form-inline div {
    width: 50%;
}

.form-inline div:last-child {
    margin-left: 20px;
}

.form__subtitle {
    font-family: "ProximaNova-Bold";
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 0px;
    letter-spacing: -0.02666em;
    color: var(--white);
}

.form label {
    font-family: "ProximaNova-Semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 1px;
    color: var(--white);
}

.contact_us__form__item {
    width: 100%;
    padding: 9px 0 9px 13px;
    margin-top: 8px;
    background: var(--white);
    border: 1px solid #292929;
    border-radius: 8px;
    margin-bottom: 35px;
}

.form-masage {
    height: 96px;
}

.contact_us__form__btn {
    color: var(--white);
    background-color: var(--orange);
    padding: 18px 82px;
    border-radius: 4px;
}

@media (max-width: 1000px) {
    .contact_us-container {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .form-inline {
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .form-inline div {
        width: 100%;
    }

    .form-inline div:last-child {
        margin-left: 0;
    }
}